/* CSS Document */


	/*----*****---- << Text Elements >> ----*****----*/
	
	ul li ul { padding-right: 20px; padding-left: 0; }
	
	ol { padding-right: 20px; padding-left: 0; }
	
	blockquote { padding: 25px 50px 25px 25px; }
	blockquote span { float:right; margin: 0 0 0 10px; }
	blockquote cite { float: left; }
	
	blockquote q:before { right: -5px; left: auto; }
	blockquote q:before { right: -30px; left: auto; }
	
	blockquote.alignright { float: right; margin-left: 20px; text-align: right; margin-right: auto; }
	blockquote.alignleft { float: left; margin-right: 20px; text-align: right; margin-left: auto; }
	
	/* due to IE <HR> margin bugs I had to made classed and apply them to div to achieve the effect of a <HR> */
	
	.hr { float: right; }
	.hr-invisible { float: right; }
	.hr-invisible-large { float: right; }
	.hr-invisible-small { float: right; }
	.hr-invisible-very-small { float: right; }
	
	pre, code { border-right: 3px solid #f8cc6e; border-left: none; }
	
	.hr.top, .hr-border.top { background-position: left center; text-align:left; }
	.hr.top a, .hr-border.top a { padding-right: 5px; left: -21px; right: auto; padding-left: 0; }
	
	.float-left { float: left; }
	.float-right { float: right; }
	.post-edit-link { float: left; }
	
	
	/*----*****---- << Forms >> ----*****----*/
	
	select { background-position: left center; }
	.selection-box:before { border-right: 6px solid rgba(0, 0, 0, 0); border-left: 6px solid rgba(0, 0, 0, 0); left: 20px; right: auto; }
	.selection-box:after { left: 0; right: auto; }
	
	input[type=submit], input[type=reset], input[type=button], button { float: left; }
	
	.searchform input[type="text"] { float: right; padding: 11px 40px 12px 10px; }
	.searchform input[type="submit"] { float:right; padding-right: 15px; right: 0; left: auto; padding-left: 0; }
	
	.newsletter-form { float: right; }
	.newsletter-form input[type="text"], .newsletter-form input[type="email"] { float: right; }
	.newsletter-form input.error { border-left: none; border-right: none; }
	.newsletter-form input[type="submit"] { float: right; }
	
	.search-form input[type="submit"], 
	.search-form input[type="reset"], 
	.search-form input[type="button"],
	.search-form .dt-sc-button { margin-right: 10px; margin-left: auto; }
	
	.form-wrapper { margin-right: auto; margin-left: auto; }
	.form-wrapper form { float: right; }
	
	/*----*****---- << Images >> ----*****----*/
	
	.alignright, img.alignright { float: right; margin-left: 20px; margin-right: auto; }
	.alignleft, img.alignleft { float: left; margin-right: 20px; text-align:left; margin-left: auto; }
	.aligncenter, img.aligncenter { margin-right: auto; margin-left: auto; }
	
	
	/*----*****---- << Widgets >> ----*****----*/
	
	.widget { float: right; }
	.widget ul { float: right; }
	.widget ul li { float: right; }
	.widget ul ul { margin: 5px 15px 0 0; }
	
	.widget.widget_archive ul li a span, .widget_categories ul li a span,  .widget.widget_meta ul li a span { left: 11px; right: auto; }
	.widget.widget_archive ul li a:hover span, .widget_categories ul li a:hover span,  .widget.widget_meta ul li a:hover span { left:0; right: auto; }
	
	.widget.widget_archive ul li a:before, .widget_categories ul li a:before, .widget.widget_meta ul li a:before { right:0; left: auto; }
	
	.dt_widget_recent_entries ul li .show-meta span { margin-left:15px; margin-right: auto; }
	.dt_widget_recent_entries ul li .show-meta i { margin-left: 5px; margin-right: auto; }
	
	.recent-dt-gallery-widget ul li .thumb { float: right; margin: 0 0 0 10px; }
	
	.carousel-gallery li .entry-thumb, .portfolio-item .entry-thumb { float:right; }
	.carousel-gallery li .entry-thumb span, .portfolio-item .entry-thumb span { right:0; left:0; }
	.carousel-gallery li .entry-body a.readmore, .portfolio-item .entry-body a.readmore { text-align:left; }
	
	.carousel-testimonials li { float: right; }
	.carousel-testimonials li .testimonial-content-wrapper .testimonial-content blockquote { padding:18px 25px 20px 10px; }
	.carousel-testimonials li .testimonial-content span.quote-shape { right: 20px; left: auto; }
	.carousel-testimonials li p.author-info { float:right; }
	
	.widget_tag_cloud a { float: right; margin: 0 0 8px 5px; }
	.widget.tweetbox .tweet-thumb { float: right; margin: 5px 0 0 10px; }
	
	.tweet-box { float: right; }
	.tweet_list li a { text-align: left; }
	
	#tweets_container { float: right; }
	#tweets_container .tweet_list li { padding: 0 40px 0 0; text-align: right; }
	#tweets_container .tweet_list li:before { float: right; right: 0; left: auto; }
	
	.widget form { float: right; }
	
	#primary .column.aligncenter .searchform input[type="submit"], #footer .searchform input[type="submit"] { right: auto; left: -1px; }
	#primary .column.aligncenter .searchform input[type="submit"] { float: left; }
	
	.widget.flickrbox .flickr-widget div { float: right; margin: 0 0 5px 5px; }
	.widget.flickrbox .flickr-widget div a { float: right; }
	.widget.flickrbox .flickr-widget div img { float: right; }
	
	#wp-calendar #prev, #wp-calendar #next { text-align: right; }
	
	.sociable_links { float: right; }
	.sociable_links li { margin-left: 5px; margin-right: auto; }
	.sociable_links li .fa { float: right; }
	
	.dt-sc-social-icons { float: right; }
	.dt-sc-social-icons li img { right: 0; left: auto; }
	.dt-sc-social-icons li:after { right: 0; left: auto; }
	
	.textwidget ul { padding-right:5px; padding-left: 0; }
	.textwidget ul li:before { float: right; margin-left:10px; margin-right: auto; }
	
	
	/*----*****---- << Layout (Fullwidth & Boxed) >> ----*****----*/
	
	/*----*****---- << Container >> ----*****----*/
	
	.wrapper { float:right; }
	
	#main { float: right; }
	.content-main { float:right; }
	.content { float: right; }
	
	.boxed .wrapper { margin-right:auto; margin-left:auto; }
	
	#primary { float: right; }
	#primary.with-right-sidebar { float: left; }
	
	#secondary { float: right; }
	#secondary.right-sidebar { margin: 0 0 0 20px; }
	#secondary.left-sidebar { margin: 0 20px 0 0; }
	
	
	/*----*****---- << Fullwidth Section >> ----*****----*/
	
	.dt-sc-fullwidth-section { float: right; }
	.fullwidth-bg { float: right; }
	
	.dt-sc-fullwidth-video-section { float: right; }
	.dt-sc-video-container { right: 0; left: auto; }
	.dt-sc-video-content-wrapper { float: right; }
	

	
	/*----*****---- << Preview Section >> ----*****----*/
	
	.content-section { float: right; }
	.content-section:after { right: 0; left: 0; }
	
	.preview-section { padding: 30px 25px 0 22px; }
	.preview { float: right; }
	.preview a { float: right; }
	.preview a .live-view { float: right; }
	
	
	/*----*****---- << Header >> ----*****----*/
	
	/******** Header Top-Bar ********/
	
	#header-top { float:right; }
	
	#header-top .column.alignleft { float: left; text-align: left; }
	#header-top .column.alignleft a > i { margin: 0 3px 0 0; }
	
	#header-top ul.top-menu li a, #header-top ul.menu li a { margin: 0 10px 0 0; padding: 0 0 0 10px; }
	#header-top ul.top-menu li a:before, #header-top ul.menu li a:before { left: 0; right: auto; }
	
	#header-top .searchform { float:left; }
	#header-top .searchform input[type="text"] { float:left; }
	
	#header { float: right; }
	#header-wrapper, #header-wrapper header { float: right !important; }
	.sticky-wrapper { float: right; }
	
	
	/******** Logo & Menu Navigation ********/
	
	#logo { float: right; }
	#logo a { float: right; }
	
	#main-menu { float:left; }
	#main-menu ul.menu { float:right; }
	#main-menu ul.menu > li { float:right; }
	#main-menu ul.menu > li > a { float:right; }
	#main-menu ul.menu > li:last-child { margin-left: 0; margin-right: auto; }
	#main-menu ul.menu > ul > li { float: right; text-align:right; }
	
	#main-menu ul.menu > li > .megamenu-child-container { right: 0; left: 0; }
	
	
	/****** Header Options *****/
	
	#header.header2 #main-menu ul.menu li.menu-item-simple-parent.menu-item-has-children > a, #header.header2 #main-menu ul.menu li.menu-item-megamenu-parent.menu-item-has-children > a { padding: 10px 20px 12px 25px; }
	#header.header3 #main-menu ul.menu > li, #header.header4 #main-menu ul.menu > li { margin: 0 1px 0 0; }
	#header.header4 #main-menu ul.menu > li > a > .fa { right: 0; left: 0; }
	#header.header5 #main-menu ul.menu > li > a > .fa { margin: 0 0 0 5px; }
	
	#header.header1 #main-menu ul.menu > li.menu-item-simple-parent.menu-item-has-children > a:after, #header.header1 #main-menu ul.menu > li.menu-item-megamenu-parent.menu-item-has-children > a:after,
	#header.header3 #main-menu ul.menu > li.menu-item-simple-parent.menu-item-has-children > a:after, #header.header3 #main-menu ul.menu > li.menu-item-megamenu-parent.menu-item-has-children > a:after,
	#header.header4 #main-menu ul.menu > li.menu-item-simple-parent.menu-item-has-children > a:after, #header.header4 #main-menu ul.menu > li.menu-item-megamenu-parent.menu-item-has-children > a:after { right: 0; left: 0; }
	
	#header.header2 #main-menu ul.menu li.menu-item-simple-parent.menu-item-has-children > a:after, #header.header2 #main-menu ul.menu li.menu-item-simple-parent.menu-item-has-children > a:before,
	#header.header2 #main-menu ul.menu li.menu-item-megamenu-parent.menu-item-has-children > a:after, #header.header2 #main-menu ul.menu li.menu-item-megamenu-parent.menu-item-has-children > a:before { left: 12px; right: auto; }
	
	#header.header2 #main-menu ul.menu li.menu-item-simple-parent.menu-item-has-children > a:before, #header.header2 #main-menu ul.menu li.menu-item-megamenu-parent.menu-item-has-children > a:before { left: 14px; right: auto; }
	#header.header3 #main-menu ul.menu.nav-line > li > a:before, #header.header4 #main-menu ul.menu.nav-line > li > a:before { right: 0; left: auto; }
	#header.header5 #main-menu, #header.header5 #main-menu ul.menu { float: right; }
	
	
	/****** Simple Drop Down Menu *****/
	
	#main-menu ul.menu li.menu-item-simple-parent ul { float:right; right: 0; text-align: right; left: auto; }
	#main-menu ul.menu li.menu-item-simple-parent ul li ul { right: 220px; left: auto; }
	#main-menu ul.menu li.menu-item-simple-parent:last-child ul { right: inherit; left: 0; }
	#main-menu ul.menu li.menu-item-simple-parent:last-child ul li ul { right: inherit; left: 220px; }
	#main-menu ul.menu li.menu-item-simple-parent ul li a .fa { margin-left: 5px; margin-right: auto; }
	
	
	/****** Mega Menu *****/
	
	.megamenu-child-container { float:right; right: 0; left: auto; }
	.hasImage-bg.left-aligned .megamenu-child-container { background-position: left bottom; }
	.megamenu-child-container > ul.sub-menu > li { float: right; }
	.megamenu-child-container > ul.sub-menu > li:before { border-right: 1px dashed; right: -12px; left: auto; border-left: none; }
	.megamenu-child-container > ul.sub-menu > li:last-child:after { border-left: 1px dashed; left: -13px; right: auto; border-right: none; }
	.megamenu-child-container > ul.sub-menu { text-align: right; }
	.megamenu-child-container > ul.sub-menu > li a .fa { margin-left: 5px; margin-right: auto; }
	.megamenu-child-container ul.sub-menu > li > ul > li > ul { padding-right: 20px; padding-left: 0; }
	
	
	/****** Mega Menu Widgets *****/
	
	#main-menu ul.menu li .menu-item-widget-area-container ul.menu, #main-menu ul.menu li .menu-item-widget-area-container ul.menu li { text-align: right; }
	
	#main-menu ul.menu.with-hover-style li .menu-item-widget-area-container ul.menu li a, #main-menu ul.menu.with-hover-style li .menu-item-widget-area-container ul.menu li ul.sub-menu > li a, #main-menu ul.menu.with-hover-style li .megamenu-child-container .menu-item-widget-area-container ul.sub-menu > li > ul li a, #main-menu ul.menu.with-hover-style li .menu-item-widget-area-container .widget_nav_menu ul.menu li a, #main-menu ul.menu.with-hover-style li .menu-item-widget-area-container .widget_nav_menu ul.menu li ul.sub-menu > li a, #main-menu ul.menu.with-hover-style li .megamenu-child-container .menu-item-widget-area-container ul.sub-menu > li > ul li a { padding: 0 0 5px 10px; }
	
	#main-menu ul.menu li .megamenu-child-container .menu-item-widget-area-container ul.sub-menu > li > ul { margin-right: 20px; margin-left: auto; }
	
	.megamenu-child-container > ul.sub-menu > li.fill-two-columns .menu-item-widget-area-container .widget.widget_recent_entries .recent-posts-widget .post-meta p span, 
	.megamenu-child-container > ul.sub-menu > li.fill-three-columns .menu-item-widget-area-container .widget.widget_recent_entries .recent-posts-widget .post-meta p span, 
	.megamenu-child-container > ul.sub-menu > li.fill-four-columns .menu-item-widget-area-container .widget.widget_recent_entries .recent-posts-widget .post-meta p span { margin-left: 5px; margin-right: auto; }
	
	.menu-item-widget-area-container ul li.widget.widget_recent_entries ul li .post-date { float: left; }
	
	.menu-item-widget-area-container li.widget.widget_text ul li { padding: 10px 10px 10px 0; }
	
	
	/****** Mobile Menu *****/
	
	.dt-menu-toggle { float: right; }
	.dt-menu-toggle-icon { float:left; text-align:right; }
	.dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after { right: 0; left: auto; }
	.dt-menu-expand { left: 0; right: auto; }
	
	
	/*----*****---- << Breadcrumb Section >> ----*****----*/
	
	.breadcrumb-section { float: right; }
	.breadcrumb-section h1 { padding: 0 0 20px 50px; }
	.breadcrumb-section .breadcrumb { float: left; text-align: left; }
	
	.dt-sc-ico-title span { margin: 0 0 0 15px; padding: 0 0 0 15px; }
	.dt-sc-ico-title span .fa { right: -10px; left: auto; }
	.dt-sc-ico-title.ico-rounded span:after, .dt-sc-ico-title.ico-rounded span .fa { right: 0; left: auto; }
	.dt-sc-ico-title span:after { right: -10px; left: 10px; }
	
	
	/*----*****---- << Slider >> ----*****----*/
	
	.rs-slide1 .tp-caption.blue_small_ubuntu > span > span { right: 0; left: 0; }
	.rev_slider .dt-sc-button.with-icon { padding: 0 25px 0 0  ; }
	.rev_slider .dt-sc-button.with-icon span { padding: 15px 0 15px 25px  ; }
	
	
	/*----*****---- << Blog >> ----*****----*/
	
	.apply-isotope .column { margin-right: 0; margin-left: auto; }
	
	.blog-entry { float: right; }
	
	.sticky .featured-post, .featured-post { background-position: right 4px; float: right; }
	.sticky .featured-post span.fa, .featured-post span.fa { padding-left: 0; padding-right: 0; }
	
	.blog-entry .entry-thumb { float: right; }
	.blog-entry .entry-thumb a { float: right; }
	.blog-entry .entry-thumb img { float: right; }
	
	.dt-sc-one-column.blog-thumb .entry-details { float: right; margin: 0 20px 0 0; }
	
	.entry-details { float: right; }
	.entry-body { float: right; }
	.entry-meta { float: right; }
	.entry-meta li { padding: 0 8px 0 0; }
	.entry-meta .fa { margin-left: 5px; margin-right: auto; }
	.entry-format { float: right; }
	
	.dt-sc-one-third .entry-meta li, .with-right-sidebar .dt-sc-one-third .entry-meta li, .with-left-sidebar .dt-sc-one-third .entry-meta li { padding: 0 6px 0 0; }
	
	.dt-video-wrap { float: right; }
	
	
	/******** Blog Single ********/
	
	.blog-entry.single .entry-body { float: right; }
	.blog-entry.single .entry-meta .entry-format { margin-left: 8px; margin-right: auto; }
	.blog-entry.single .entry-meta-data .post-author, .blog-entry.single .entry-meta-data .post-tag, .blog-entry.single .entry-meta-data .post-date { border-left: 1px solid #d0d0d0; padding-left:10px; padding-right: 0; border-right: none; }
	
	.commententries { float: right; }
	ul.commentlist { float: right; }
	ul.commentlist li { float: right; padding: 0 100px 0 0; }
	ul.commentlist li ul.children { float: right; }
	ul.commentlist li .respond { margin-right: 70px; margin-left: auto; }
	ul.commentlist li .comment-meta h3.author-name > a { float: right; }
	ul.commentlist li .comment-author { right: 0; left: auto; }
	ul.commentlist li .comment-author img { float: right; }
	ul.commentlist li .comment-meta .commentmetadata { margin-right: 5px; margin-left: auto; }
	ul.commentlist li .comment-meta .comment-reply-link { float:left; left: 0; text-align: left; right: auto; }
	
	
	/*----*****---- << Portfolio >> ----*****----*/
	
	.sorting-container { float: right; }
	.sorting-container a { float:right; margin: 0 0 10px 10px; }
	.sorting-container a.active-sort:after, .sorting-container a:hover:after { border-right: 6px solid transparent; border-left: 6px solid transparent; right: 0; left: 0; }
	
	.portfolio-container { float: right; }
	.portfolio-carousel-wrapper { float: right; }

	.portfolio-container .portfolio { margin-right: 0; margin-left: auto; }
	
	.portfolio .portfolio-thumb, .portfolio .portfolio-thumb img { float: right; }
	.portfolio .portfolio-thumb { float: right; }
	
	
	/******** Portfolio Image Overlay ********/
	
	.portfolio .image-overlay { float:right; right: 0; left: auto; }
	
	.portfolio .image-overlay a.zoom { left: 0; right: auto; }
	.portfolio .image-overlay a.link { right: 0; left: auto; }
	
	.portfolio .image-overlay:after { border-color: rgba(0, 0, 0, 0.3) #fff #fff rgba(0, 0, 0, 0.3); border-style: none none solid solid; border-width: 0 0 30px 30px; left: 0; right: auto; }
	
	.portfolio.dt-sc-one-half:hover .image-overlay a.zoom, .dt-sc-one-half .portfolio:hover .image-overlay a.zoom { left: 38%; right: auto; }
	.portfolio.dt-sc-one-half:hover .image-overlay a.link, .dt-sc-one-half .portfolio:hover .image-overlay a.link { right: 38%; left: auto; }
	
	.page-with-sidebar .portfolio.dt-sc-one-half:hover .image-overlay a.zoom, 
	.page-with-sidebar .dt-sc-one-half .portfolio:hover .image-overlay a.zoom { left: 35%; right: auto; }
	
	.page-with-sidebar .portfolio.dt-sc-one-half:hover .image-overlay a.link, 
	.page-with-sidebar .dt-sc-one-half .portfolio:hover .image-overlay a.link { right: 35%; left: auto; }
	
	.portfolio.dt-sc-one-third:hover .image-overlay a.zoom, .dt-sc-one-third .portfolio:hover .image-overlay a.zoom { left: 32%; right: auto; }
	.portfolio.dt-sc-one-third:hover .image-overlay a.link, .dt-sc-one-third .portfolio:hover .image-overlay a.link { right: 32%; left: auto; }
	
	.page-with-sidebar .portfolio.dt-sc-one-third:hover .image-overlay a.zoom, 
	.page-with-sidebar .dt-sc-one-third .portfolio:hover .image-overlay a.zoom { left: 27%; right: auto; }
	
	.page-with-sidebar .portfolio.dt-sc-one-third:hover .image-overlay a.link, 
	.page-with-sidebar .dt-sc-one-third .portfolio:hover .image-overlay a.link { right: 27%; left: auto; }
	
	.portfolio.dt-sc-one-fourth:hover .image-overlay a.zoom, .dt-sc-one-fourth .portfolio:hover .image-overlay a.zoom { left: 26%; right: auto; }
	.portfolio.dt-sc-one-fourth:hover .image-overlay a.link, .dt-sc-one-fourth .portfolio:hover .image-overlay a.link { right: 26%; left: auto; }
	
	.page-with-sidebar .portfolio.dt-sc-one-fourth:hover .image-overlay a.zoom, 
	.page-with-sidebar .dt-sc-one-fourth .portfolio:hover .image-overlay a.zoom { left: 24%; right: auto; }
	
	.page-with-sidebar .portfolio.dt-sc-one-fourth:hover .image-overlay a.link, 
	.page-with-sidebar .dt-sc-one-fourth .portfolio:hover .image-overlay a.link { right: 24%; left: auto; }
	
	
	/******** Portfolio Details ********/
	
	.portfolio .portfolio-detail { float: right; text-align: right; }
	
	
	/******** Portfolio Single ********/
	
	.portfolio-single { float: right; }
	.portfolio-slider-container { float: right; }

	.portfolio-details { float: right; }
	.portfolio-details .detail { border-left: 1px solid #d0d0d0; border-right: none; }
	.portfolio-details a { float: left; }
	
	.portfolio-single .item-meta { float: right; }
	
	.portfolio-share { float:right; }
	.portfolio-share .social-icons { float:right; }
	
	.post-nav-container { float: right; }
	.post-nav-container .post-prev-link { float: right; }
	.post-nav-container .post-next-link { float: left; }
	
	
	/*----*****---- << Side Navigation >> ----*****----*/
	
	.side-nav-container { float: right; }
	.side-nav-container ul { float: right; }
	.side-nav-container ul li { float: right; }
	.side-nav-container ul li a { border-left: 4px solid #fff; border-right: none; }
	.side-nav-container ul li.current_page_item a:after { background-position: left center; left: -11px; right: auto; }
	.side-navigation-content { padding: 0 30px 0 0; }
	.side-nav-container ul li a { padding: 0 60px 0 0; }
	.side-nav-container ul li a:before { right: 0; left: auto; }
	.side-nav-container ul li.current_page_item a:before, .side-nav-container ul li:hover a:before, .side-nav-container ul li a:hover:before { margin: -1px -1px 0 0; }
	
	
	/*----*****---- << Contact >> ----*****----*/
	
	.mytheme-map { float: right; }
	
	.wpcf7-response-output { float: right; margin: 2em !important 1em 0; }
	.wpcf7-form span.wpcf7-not-valid-tip::before { right: 10px; left: auto; }
	
	
	/*----*****---- << 404 >> ----*****----*/
	
	.error-info { float: right; }
	.error-info .dt-sc-contact-info i { margin: 0 0 0 10px; }
	
	
	/*----*****---- << Carousels & Sliders >> ----*****----*/
	
	/******** BX Slider ********/
	
	.carousel-wrapper { float: right; }
	.carousel-wrapper .team-carousel { float: right; }
	
	.carousel-arrows { padding-right: 20px; left: 0; right: auto; padding-left: 0; }
	
	
	/*----*****---- << Miscellaneous >> ----*****----*/
	
	/******** Pagination ********/
	
	.pagination { float: right; }
	.pagination ul { float: right; }
	.pagination ul li { float: right; }
	
	.pagination ul li a, .pagination .prev-post a, .pagination .next-post a, .pagination ul li.active-page { float: right; margin: 0 0 0 10px; }
	.pagination .next-post, .pagination .prev-post { float: right; }
	
	.pagination .next-post { margin-right: 4px; margin-left: auto; }
	.pagination .prev-post { margin-left: 4px; margin-right: auto; }
	
	
	/******** UI To-Top ********/
	
	#toTop { background-position: right top; left: 30px; right: auto; }
	#toTopHover { background-position: right -40px; float: right; }
	
	
	/*----*****---- << Footer >> ----*****----*/
	
	#footer { float: right; }
	#footer .widget { padding: 0 20px 30px 0; }
	#footer .widget:before { right: 0; left: auto; }
	
	#footer .searchform input[type="text"] { padding: 10px 15px 10px 60px; }
	.widget ul.dt-sc-fancy-list, .widget ul.dt-sc-fancy-list.type2 { padding-right: 0; padding-left: 0; }
	
	.footer-top-section { float: right; }
	.footer-top-section .icon { float: right; margin: 0 0 0 -1px; }
	.footer-top-section .icon span img { right: 0; left: 0; }
	.footer-top-section .float-left .dt-sc-button.small { margin: -4px 10px 0 0; }
	
	
	/******** Copyright ********/
	
	.copyright { float: right; }
	
	
	/*----*****---- << Style Picker >> ----*****----*/
	
	.dt-style-picker-wrapper { right: 0; left: auto; }
	
	#dt-style-picker { float: right; }
	#dt-style-picker ul { float: right; }
	#dt-style-picker .dt-hr { float: right; }
	
	.style-picker-ico { right: 265px; left: auto; }
	.style-picker-ico.control-open img { right: 0; left: 0; }
	.style-picker-ico.control-open { right: 300px; left: auto; }		
	
	
	/*----*****---- << RTL Custom CSS >> ----*****----*/
	
	#header-top .column, .dt-sc-tabs-container.type2 .column, .dt-sc-testimonial-wrapper .dt-sc-rounded-image, .carousel-testimonials li .dt-sc-rounded-image, .dt-sc-testimonial-content blockquote cite, .dt-sc-progress .dt-sc-bar, .dt-sc-ico-content.type3 .icon, .dt-sc-testimonial-content blockquote span, .overlay.left-aligned, .portfolio-single .item-meta p span, .dt-sc-dropcap, .dt-sc-hr, .dt-sc-button.with-icon span, ul.dt-sc-tabs li, ul.dt-sc-tabs-frame li, .dt-sc-callout-box.type2 .column, .overlay.right-aligned .column, .footer-top-section .float-left { float: right; }
	
	.dt-sc-domains-list li .dt-sc-button, .dt-sc-testimonial-carousel li .dt-sc-testimonial-wrapper .dt-sc-testimonial-content, .dt-sc-progress .dt-sc-bar-text > span, .overlay.left-aligned .column, .overlay.right-aligned, .entry-gallery-post-slider, .footer-top-section .float-right { float: left; }
			
	#header-top .contact, #slider, .dt-sc-pr-tb-col .dt-sc-price, .dt-sc-callout-box h2, .dt-sc-callout-box h4, .search-form input[type="text"], h5.dt-sc-toggle-accordion, h5.dt-sc-toggle, .dt-sc-progress-bar-content > p, .overlay.left-aligned, .sorting-container a, .blog-entry .entry-title h3, .post-nav-container { direction: ltr; }
	
	body, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="password"], select, textarea, #header-top .contact, .search-form input[type="text"], .slide-nav-control-wrapper ul li, .dt-sc-pricing-table.type2 th:first-child, .dt-sc-pricing-table.type2 td:first-child, .dt-sc-testimonial-content, h5.dt-sc-toggle-accordion, h5.dt-sc-toggle, .dt-sc-ico-content.type2, .dt-sc-ico-content.type3 h3, .dt-sc-ico-content.type3 h4, .dt-sc-ico-content.type3 h5, .dt-sc-ico-content.type3 h6 { text-align: right; }
	
	#header-top .column.alignright, .right, .overlay.left-aligned, .overlay.left-aligned .dt-sc-contact-info.bio { text-align: left; }		
	
	#header-top .column.alignright { margin: 0; }	
	
	.dt-sc-hr-border-title span { padding-left: 20px; padding-right: 0; }
	.dt-sc-hr-border-title.right span { padding: 0 20px 0 0; }
	
	.dt-sc-button.with-icon { padding: 0 25px 0 0; }
	
	.dt-sc-button.with-icon span { border-width: 0 0 0 1px; padding: 20px 0 20px 25px; } 	
	.dt-sc-button.with-icon .fa { border-width: 0 1px 0 0; display: inline-block; }
	
	.dt-sc-button.small.with-icon { padding: 0 14px 0 0; }
	.dt-sc-button.small.with-icon span { padding-left: 14px; padding-right: 0; }
	
	.dt-sc-button.medium.with-icon { padding: 0 18px 0 0; }
	.dt-sc-button.medium.with-icon span { padding-left: 18px; padding-right: 0;  }
	
	.dt-sc-button.large.with-icon { padding: 0 22px 0 0; }
	.dt-sc-button.large.with-icon span { padding-left: 22px; padding-right: 0; }
	
	.dt-sc-button.xlarge.with-icon { padding: 0 28px 0 0; }
	.dt-sc-button.xlarge.with-icon span { padding-left: 28px; padding-right: 0; }
	
	.dt-sc-dropcap.dt-sc-dropcap-circle, .dt-sc-dropcap.dt-sc-dropcap-bordered-circle, .dt-sc-dropcap.dt-sc-dropcap-square, .dt-sc-dropcap.dt-sc-dropcap-square, .dt-sc-dropcap.dt-sc-dropcap-bordered-square { margin: 5px 0 0 10px; }
	
	.dt-sc-hr.top { background-position: left center; }
	.dt-sc-hr.top a { left: -4%; right: auto; }
	.dt-sc-hr.top a span { display: inline; }
	
	ul.dt-sc-fancy-list li { padding-right: 20px; }
	ul.dt-sc-fancy-list li, ul.dt-sc-fancy-list.arrow li { padding-left: 0; padding-right: 15px; }
	
	ul.dt-sc-fancy-list li::before { left: auto; right: 0; }
	
	ul.dt-sc-fancy-list.type2 li { padding: 0 20px 0 0; }
	ul.dt-sc-fancy-list.type2 li .fa { left: auto; right: 0; }
	
	.slide-nav-control-wrapper ul li { margin: 0 2% 0 0; }
	
	ul.dt-sc-tabs-vertical-frame li a { padding: 15px 55px 15px 20px; }
	ul.dt-sc-tabs-vertical-frame li a span { left: auto; right: 10px; }
	
	ul.dt-sc-tabs li { margin: 0 0 0 10px; }
	ul.dt-sc-tabs-frame li { margin: 0 10px 0 0; }
	
	.dt-sc-toggle::before, .dt-sc-toggle-accordion::before { left: auto; right: 28px; }
	h5.dt-sc-toggle::before, h5.dt-sc-toggle-accordion::before { left: auto;  right: 4px; }
	
	h5.dt-sc-toggle-accordion a, h5.dt-sc-toggle a { padding: 15px 75px 15px 15px; }
	.dt-sc-toggle-content { padding: 0 75px 0 0; }
	
	.dt-sc-toggle-frame h5.dt-sc-toggle::before, .dt-sc-toggle-frame h5.dt-sc-toggle-accordion::before { left: auto; right: 18px; }
	.dt-sc-toggle-frame h5.dt-sc-toggle-accordion a, .dt-sc-toggle-frame h5.dt-sc-toggle a { padding: 15px 40px 15px 15px; }	
	
	.dt-sc-ico-content.type2 { padding: 20px 75px 20px 20px; }
	.dt-sc-ico-content.type2 .icon { left: auto; right: 5px; }
	
	.dt-sc-ico-content.type3 .icon { margin: 0 0 0 20px; }
	
	.dt-sc-ico-content.type4 { padding: 0 85px 15px 0; }
	.dt-sc-ico-content.type4 .icon { left: auto; right: 0; }
	
	.dt-sc-ico-content.type4.right { padding: 0 0 15px 85px; }
	.dt-sc-ico-content.type4.right .icon { left: 0; right: auto; }
	
	.dt-sc-testimonial-wrapper .dt-sc-rounded-image, .carousel-testimonials li .dt-sc-rounded-image { margin: 0 0 0 25px; }
	
	.dt-sc-testimonial-content blockquote span.quote-shape { left: auto; right: -20px; }
	.dt-sc-testimonial-content blockquote::before { left: auto; right: 10px; }
	
	.dt-sc-testimonial-content blockquote span.quote-shape, .dt-sc-testimonial-content blockquote::before { transform: rotateY(-180deg); -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); }
	
	.dt-sc-testimonial-content blockquote span { margin: 0 0 0 4px; }
	
	.dt-sc-colored-box h2 { padding: 0 35px 0 0; }
	.dt-sc-colored-box h2 span { left: auto; right: -2px; }
	
	.dt-sc-pullquote1 { border-left: none; border-right: 3px solid #d9d9d9; }
	.dt-sc-pullquote5 { border-width: 0 3px 0 0; padding: 0 15px 0 0; }
	
	.dt-sc-callout-box.type2 .column { margin: 0 2% 0 0; }
	.dt-sc-callout-box.type2 .column.first { margin-right: 0; }
	
	.dt-sc-callout-box.type2.with-icon h2, .dt-sc-callout-box.type2.with-icon h4, .dt-sc-callout-box.type2.with-icon p	{ padding-left: 0; padding-right: 100px; text-align: right; }
	.dt-sc-callout-box.type2.with-icon .icon span { left: auto; right: 0; }
	
	.dt-sc-error-box, .dt-sc-warning-box, .dt-sc-success-box, .dt-sc-info-box { padding: 15px 40px 15px 15px; }
	.dt-sc-error-box:before, .dt-sc-warning-box:before, .dt-sc-success-box:before, .dt-sc-info-box:before { left: auto; right: 10px; }
	
	.dt-sc-pricing-table.type3 .dt-sc-pr-tb-col:before { border-style: none none solid solid; border-width: 0 0 30px 30px; border-color: #e8edf2 #e8edf2 #f3f8fd #f3f8fd; left: 0; right: auto; }
	.dt-sc-pricing-table.type3 .dt-sc-pr-tb-col:hover:before, .dt-sc-pricing-table.type3 .dt-sc-pr-tb-col.selected:before { border-width: 0 0 900px 900px; left: -1px; right: auto; }
	
	.entry-format, .dt-sc-ico-title span { border-width: 0 0 0 1px; }
	.side-nav-container ul li.current_page_item a::after { display: none; }
	.side-nav-container ul li.current_page_item a { border-color: #e8edf2; }
	
	.portfolio-single .item-meta p span { margin: 0 0 0 5px; }
	
	.dt-sc-contact-info i { display: inline; }
	
	.newsletter-form input[type="text"], .newsletter-form input[type="email"] { border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -ms-border-radius: 0 3px 3px 0; -o-border-radius: 0 3px 3px 0; }
	.newsletter-form input[type="submit"] { border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; }
		
	.footer-top-section .float-right .dt-sc-button.small, .footer-top-section .float-right .dt-sc-boxed-tooltip { margin: -4px 10px 0 0; }
	
	/******** WooCommerce RTL ********/
	
	ul.products li .product-wrapper, .widget.woocommerce .tagcloud a, .widget.woocommerce ul.product_list_widget li a img, .woocommerce div.product div.images, .woocommerce-page div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity, .woocommerce div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-tabs ul.tabs li, .woocommerce p.stars span, .woocommerce-page p.stars span, .woocommerce .product .summary .star-rating, .woocommerce .checkout .col-2 h3, .woocommerce-page .checkout .col-2 h3, .woocommerce form .form-row-first, .woocommerce-page form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-last, .checkout_coupon .button { float: right; }
	
	.woocommerce div.product div.summary, .woocommerce-page div.product div.summary, .woocommerce #content div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce .star-rating, .woocommerce-page .star-rating { float: left; }
	
	.woocommerce .checkout .col-2 .notes, .woocommerce-page .checkout .col-2 .notes { clear: right; }
	
	.woocommerce p, .woocommerce-page p, .woocommerce form .form-row label, .woocommerce-page form .form-row label, .login .lost_password, .woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li,
	.yith-wcwl-share h4.yith-wcwl-share-title, .yith-wcwl-share ul, .yith-wcwl-share li { text-align: right; }
	
	.woocommerce .product .summary .product_meta, .woocommerce-tabs ul.tabs li a { direction: ltr; }
	
	ul.products li .product-wrapper { margin: 10px 0 10px 2%; }
	ul.products li.last .product-wrapper { margin-left: 0; }
		
	ul.products li .meta_overlay .product-meta .add_to_cart_button, ul.products li .meta_overlay .product-meta .added_to_cart { left: 0; right: auto; }
	ul.products li .meta_overlay .product-meta .yith-wcwl-add-to-wishlist { right: -35px; }
	
	ul.products li:hover .meta_overlay .product-meta .yith-wcwl-add-to-wishlist { right: auto; }
	
	.single-product .product > .onsale, .single-product .product > .out-of-stock, ul.products li .out-of-stock { left: auto; right: -13px; }
	.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce #content div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity { margin: 0 0 0 4px; }
	
	.woocommerce .product .summary .star-rating { margin: 3px 0 5px 5px; }
	
	.woocommerce-tabs ul.tabs {  padding: 0 0 0 10px; }
	.woocommerce-tabs ul.tabs li { padding: 0 10px 0 0; }
	
	html[dir="rtl"] .woocommerce .select2-container .select2-choice, html[dir="rtl"] .woocommerce-page .select2-container .select2-choice { padding: 15px; }
	html[dir="rtl"] .woocommerce .select2-container .select2-choice .select2-arrow, html[dir="rtl"] .woocommerce-page .select2-container .select2-choice .select2-arrow { left: 5px; }
	
	.woocommerce-message, .woocommerce-error, .woocommerce-info { padding: 1em 3.5em 1em 1em; }
	.woocommerce-message::before, .woocommerce-error::before, .woocommerce-info::before { left: auto; right: 1em; }
	
	.payment_methods a, .woocommerce-message a, .woocommerce-error a, .woocommerce-info a { display: inline-block; }
	.shipping-calculator-button { display: block; margin: 10px auto 0; text-align: center; }
	
	.widget.woocommerce ul.cart_list a { padding: 0 30px 0 0; }
	.widget.woocommerce ul.product_list_widget li a img { margin: 4px 0 0 10px; }
	.woocommerce ul.cart_list a.remove, .woocommerce-page ul.cart_list a.remove { padding: 0; }
	
	.widget.woocommerce ul.product-categories li a::before, .widget.widget_layered_nav ul li a::before, .woocommerce ul.cart_list a.remove, .woocommerce-page ul.cart_list a.remove,
	.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar, 
	.woocommerce #payment div.payment_box::after, .woocommerce-page #payment div.payment_box::after { left: auto; right: 0; }
	
	.woocommerce #payment div.payment_box::after, .woocommerce-page #payment div.payment_box::after { margin: -1em 2em 0 0; }
	
	.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text { margin: 0 50px 0 0; }
	
	.widget.woocommerce ul.product-categories li span, .widget.widget_layered_nav ul li span { left: 8px; right: auto; }
	
	.widget.woocommerce ul.product-categories li:hover > span, .widget.widget_layered_nav ul li:hover > span { left: 0; right: auto; }
	
	
	@media only screen and (max-width:767px) {
		
		.breadcrumb-section .breadcrumb { text-align: center; }
		
		ul.products li .product-wrapper, ul.products li .product-wrapper.product-two-column, ul.products li .product-wrapper.product-two-column-with-sidebar, ul.products li .product-wrapper.product-three-column, ul.products li .product-wrapper.product-three-column-with-sidebar, ul.products li .product-wrapper.product-four-column, ul.products li .product-wrapper.product-four-column-with-sidebar, ul.products li .product-wrapper.product-five-column, ul.products li .product-wrapper.product-five-column-with-sidebar, ul.products li .product-wrapper.product-six-column, ul.products li .product-wrapper.product-six-column-with-sidebar, ul.products li .product-wrapper.product-two-column.no-space, ul.products li .product-wrapper.product-three-column.no-space, ul.products li .product-wrapper.product-four-column.no-space, ul.products li .product-wrapper.product-five-column.no-space, ul.products li .product-wrapper.product-six-column.no-space { margin-left: 0; }
		
		.woocommerce-cart table.shop_table tbody tr td.actions .coupon .input-text { left: 0; }
		
	}